@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root{
    --main-color: #3498db;
    --secondary-color: #e74c3c;
    --font-family:'Oswald',sans-serif;
}

body{
    color: var(--main-color);
    font-family:var(--font-family);
}


h1{
    color: #f0f0f0;
    position:absolute;
    top: 20px;
    left: 400px;
    z-index: 1;
    font-size: 50px;
    font-weight: lighter;
    font-family: var(--font-family);
}

.sociallinks{
    border: none;

}

.hero {
    position:relative;
    max-width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    width:100%;
    padding: 20px;
    max-width: 960px;
    border-radius: 10px;
    display: flex;
}

.hero article img {
    flex: 1;
    border-radius: 10px 0 0 10px;
}

.hero article p {
    flex: 1;
    margin-left: 20px;
}

footer img{
    width:30px;
    height: auto;
}